<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<h1>Vue</h1>

<div id="app">
    <a href="index.html">點我到第ㄧ頁</a>
    <div v-if="showBooks">
        <ul>
            <li v-for="book in books">
                <h3>{{ book.title }}</h3>
                <p> {{ book.author}}</p>
            </li>
        </ul>
    </div>

</div>

<script src="index2.js"></script>

</body>

</html>